<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G-sensor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5B170FC1D3CC8CC001809BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B171101D3CC8CC001809BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B1711B1D3CC8CC001809BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
